alembic==0.8.9
click==6.6
Flask==0.11.1
Flask-Login==0.4.0
Flask-Migrate==2.0.2
Flask-Script==2.0.5
fuzzywuzzy==0.14.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.6
MarkupSafe==0.23
mistune==0.7.3
psycopg2==2.6.2
python-editor==1.0.3
requests==2.12.3
Werkzeug==0.11.11
