{% extends "base.html" %}
{% block content %}

{% if companies_w_description |length != 0 %}

{% if full_fuzzy |length > 1 %}

<div class="alert alert-warning alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Displaying results for <strong>{{ first_location }}</strong>.  Did you mean 
  <a href="{{ url_for('company_results_get', payload=payload, full_fuzzy=other_location, page=1) }}" 
  class="alert-link">{% for key, value in other_location.items() %}{{ key }} {% endfor %}</a>?
</div>

{% endif %}


<div class="container">
<h1> <b>Companies that fit your criteria:</b></h1>
<div class="list-group">
    {% for key, value in companies_w_description.items() %}
    <a href="{{ url_for('company_listing_get', id=value[1]) }}" class="list-group-item" target="_blank">
      <h4 class="list-group-item-heading">{{ key }}</h4>
      <p class="list-group-item-text">{{ value[0] }}</p>
    </a>
    {% endfor %}
  </div>
</div>


 <ul class="pager">
       {% if page != last_page %}
        <li class="previous" >
        <a href="{{ url_for('company_results_get', full_fuzzy=full_fuzzy, payload=payload, page=page+1) }}"> More Companies</a>
        </li>
        {% endif %}
          {% if page != 1 %}
        <li class="next">
        <a href="{{ url_for('company_results_get', full_fuzzy=full_fuzzy, payload=payload, page=page-1) }}"> Previous 20</a>
        </li>
        {% endif %}
    </ul>
    
    {% else %}
    <h1> <b>Sorry, no companies fit your criteria :(</b></h1>
    {% endif %}
{% endblock %}