{% extends "base.html" %}
{% block content %}

<div class="container">
<h1> <b>Jobs that fit your criteria:</b></h1>
<div class="list-group">
    {% for key, value in all_all.items() %}
    <a href="{{ url_for('listing_get', id=value[1]) }}" class="list-group-item" target="_blank">
      <h4 class="list-group-item-heading">{{ key }}</h4>
      <p class="list-group-item-text">{{ value[0] }}</p>
    </a>
    {% endfor %}
  </div>
</div>


 <ul class="pager">
       {% if page != last_page %}
        <li class="previous" >
        <a href="{{ url_for('job_results_get', full_fuzzy=full_fuzzy, payload=payload, page=page+1) }}"> More Jobs</a>
        </li>
        {% endif %}
          {% if page != 1 %}
        <li class="next">
        <a href="{{ url_for('job_results_get', full_fuzzy=full_fuzzy, payload=payload, page=page-1) }}"> Previous 20</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}